<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
</block>
<block name="body">
    <div class="main-title">
        <h2>业主认证</h2>
    </div>

    <div class="cf">
        <a class="btn" href="javascript:;">审核通过</a>
        <a class="btn" href="javascript:;">审核不通过</a>
        <a class="btn" href="javascript:;">删 除</a>
    </div>

    <div class="data-table table-striped">
        <table class="table-bordered table table-responsive">
            <thead>
            <tr>
                <th class="row-selected">
                    <input class="checkbox check-all" type="checkbox">
                </th>
                <th>用户UID</th>
                <th>业主姓名</th>
                <th>业主电话</th>
                <th>住户编号</th>
                <th>小区名字</th>
                <th>身份证</th>
                <th>与业主关系</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="channel">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="" id="" value="{$channel['id']}"> </td>
                        <td>{$channel.uid}</td>
                        <td>{$channel.name}</a></td>
                        <td>{$channel.tel}</td>
                        <td>{$channel.family_no}</td>
                        <td>{$channel.family_name}</td>
                        <td>{$channel.code}</td>
                        <td>
                            <switch name="channel.relation">
                                <case value="0">本人</case>
                                <case value="1">亲属</case>
                                <default />租户
                            </switch>
                        </td>
                        <td>
                            <switch name="channel.status">
                                <case value="0">待审核</case>
                                <case value="1">审核通过</case>
                                <default />审核不通过
                            </switch>
                        </td>
                        <td>
                            <if condition="$channel.status eq 0">
                                <a href="{:U('setStatus?ids='.$channel['id'].'&status=0')}" class="ajax-get btn btn-info">审核通过</a>
                                <a href="{:U('setStatus?ids='.$channel['id'].'&status=1')}" class="ajax-get btn btn-warning">审核不通过</a>
                            </if>
                            <a title="查看详情" href="{:U('detail?id='.$channel['id'])}">查看详情</a>
                            <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$channel['id'])}">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            //点击排序
            $('.list_sort').click(function(){
                var url = $(this).attr('url');
                var ids = $('.ids:checked');
                var param = '';
                if(ids.length > 0){
                    var str = new Array();
                    ids.each(function(){
                        str.push($(this).val());
                    });
                    param = str.join(',');
                }

                if(url != undefined && url != ''){
                    window.location.href = url + '/ids/' + param;
                }
            });
        });

        $(".table").DataTable({

        });
    </script>
</block>